<% if (msg) { %>
  <div
    class="alert <%= msg.split(' ')[0] === 'Failed' ? 'alert-danger' : 'alert-success'%> w-50"
    role="alert"
  >
    <%= msg %>
  </div>
<% } %>

<p class="alert alert-info" role="alert">
  Applying
  <span class="text-black fw-semibold text-capitalize"><%= job.jobType%></span>
  Job for the
  <span class="text-black fw-semibold text-capitalize"
    ><%= job.jobDesignation %></span
  >
  Role
</p>

<form
  action="/apply/<%= job.jobId %>"
  method="post"
  enctype="multipart/form-data"
>
  <div class="mb-3">
    <label for="exampleInputText1" class="form-label">Full Name</label>
    <input
      name="fullName"
      type="text"
      class="form-control"
      id="exampleInputText1"
      aria-describedby="fullName"
      required
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputText2" class="form-label">Email</label>
    <input
      name="email"
      type="email"
      class="form-control"
      id="exampleInputText2"
      aria-describedby="email"
      required
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputText3" class="form-label">Contact</label>
    <input
      name="contact"
      type="tel"
      class="form-control"
      id="exampleInputText3"
      aria-describedby="contact"
      required
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputText4" class="form-label">Resume Path</label>
    <input
      name="resumeFile"
      type="file"
      class="form-control"
      id="exampleInputText4"
      aria-describedby="resumeFile"
      required
    />
  </div>
  <% if (!isAutherised) { %>
    <button type="submit" class="btn btn-primary">Submit</button>
  <% } %>
</form>
