<div class=" flex-grow-1 w-100
overflow-y-auto p-4">
    <% if (status) { %>
        <div class="alert alert-success fw-bold" role="alert">
        Application Status : <%= status %> 
        </div>
    <% } %>
    <h1>Modify Job Data</h1>
    <form class="row g-3 p-2 text-white-50 mt-3" action="/jobs/<%= job.jobId %>/update" method="" id="modifyForm">
        <div class="col-6">
            <label 
                for="inputCompany" class="form-label"
            >
                Company Name
            </label>
            <input 
                type="text" 
                class="form-control bg-secondary-subtle" id="inputCompany" placeholder="JobsFinder"
                name="company"
                value="<%= job.company %>"
            />
        </div>
        <div class="col-12">
            <label 
                for="inputCompanyDescription" class="form-label"
            >
                Company Description : 
            </label>
            <textarea
                class="form-control bg-secondary-subtle text-start" id="inputCompanyDescription" placeholder="Describe about the Company."
                name="companyDesc"
                rows="6"
            >
                <%= job.companyDesc %>
            </textarea>

        </div>
        <div class="col-md-4">
            <label 
                for="inputJobCategory" class="form-label"
            >
                Job Type
            </label>
            <select id="inputJobCategory" class="form-select" aria-label="Default select example" name="jobType" value="<%= job.jobType %>">
                <option value="full-time" selected>Full-Time</option>
                <option value="part-time">Part-Time</option>
                <option value="apprenticeship">ApprenticeShip</option>
                <option value="internship">Internship</option>
                <option value="freelanch">Freelanch</option>
                <option value="remote">Remote</option>
                <option value="consulting">Consulting</option>
              </select>
        </div>
        <div class="col-md-4">
            <label 
                for="inputJobDesignation" class="form-label"
            >
                Job Designation
            </label>
            <input 
                type="text" 
                class="form-control" id="inputJobDesignation"
                name="jobDesignation"
                value="<%= job.jobDesignation %>"
            />

        </div>
        <div class="col-md-4">
            <label 
                for="inputSalary" class="form-label"
            >
                Salary
            </label>
            <input 
                type="text" 
                class="form-control" id="inputSalary"
                name="salary"
                value="<%= job.salary %>"
            />
        </div>
        <div class="col-md-12">
            <label 
                for="inputSkills" class="form-label"
            >
                Skills Required
            </label>
            <input 
                type="text" 
                class="form-control" id="inputSkills"
                name="skills"
                placeholder="Eg. ( skill_1,skill_2,skill_3 )"
                aria-describedby="skills"
                value="<%= job.skills %>"
            >
            <div id="skills" class="form-text text-info">
                Mulitiple Skills Can Be Written With Comma Separated. Eg. ( skill_1,skill_2,skill_3 )
            </div>
        </div>
        <div class="col-12">
            <label 
                for="jobDescription" class="form-label"
            >
                Job Description : 
            </label>
            <textarea
                class="form-control bg-secondary-subtle text-start" id="jobDescription" 
                name="jobDescription"
                placeholder="Describe about the Job."
                rows="6"
            >
                <%= job.jobDescription %>
            </textarea>
        </div>
        <div class="col-md-6">
            <label 
                for="inputApplyBy" class="form-label"
            >
                Apply By
            </label>
            <input 
                type="date" 
                class="form-control" id="inputApplyBy"
                name="applyBy"
                required
            >
            <span class="text-info fw-semibold mx-2" style="font-size: 12px; letter-spacing: 1px;"><%= job.applyBy %></span>
            </input>
        </div>
        <div class="col-md-6">
            <label 
                for="inputOpening" class="form-label"
            >
                Openings count 
            </label>
            <input 
                type="text" 
                class="form-control" id="inputOpening"
                name="opening"
                value="<%= job.opening %>"
            />
        </div>
        
        <div class="col-md-6">
            <label 
                for="inputEmail1" class="form-label"
            >
                RecruterId
            </label>
            <input 
                type="text" 
                class="form-control" 
                id="inputEmail1"
                name="recruiterId" 
                value="<%= job.recruiterId %>"
                disabled   
            />
        </div>
        <div class="col-12">
            <button 
                type="button" 
                class="btn btn-success"
                data-bs-toggle="modal" 
                data-bs-target="#staticBackdrop"
                id="updateBtn"
                onclick="modalBehaviour('update')"
            >
                Update
            </button>
            <button 
            type="button" 
            class="btn btn-danger mx-3"
            data-bs-toggle="modal" 
            data-bs-target="#staticBackdrop"
            id="deleteBtn"
            onclick="modalBehaviour('delete')"
        >
            Delete
        </button>
        </div>
      </form>


      <!-- centered positioned scrollable modal -->
      <div class="modal fade bg-dark text-dark" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel"> Confirmation Box</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn text-capitalize" data-bs-dismiss="modal"
              id="modalSubmitBtn"
              ></button>
            </div>
          </div>
        </div>
      </div>
</div>


